<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Livros</title>
</head>
<body>
<form method="post" action="/livros/gravar" th:object="${livro}">
    <input type="hidden"  th:field="*{id}" />
    Nome: <input type="text" name="nome"  th:field="*{nome}" >
    Quantidade Páginas: <input type="text" name="quantidadePaginas" th:field="*{quantidadePaginas}">

    <select th:object="${livro}" th:field="*{autor}">
        <option value="">Selecione o Autor</option>
        <option th:each="autor : ${autores}" th:value="${autor.id}" th:utext="${autor.nome} " selected="selected"></option>
    </select>

    <input type="submit">
</form>

</body>
</html>
