<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>Lista de livros</title>
</head>
<body>
<h1>Livros</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID
            <th>Livro</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="livro : ${listaLivros}">
            <td th:text="${livro.id}"></td>
            <td><a href="#" th:href="@{'/livros/alterar/'+${livro.id}}" th:text="${livro.nome}"> </a></td>
            <td><a href="#" th:href="@{'/livros/excluir/'+${livro.id}}"> Excluir </a></td>
        </tr>
    </tbody>
</table>
</body>
</html>