<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8" />
    <title>Lista de livros</title>
</head>
<body>

<h1 layout:fragment="header">
    <a th:href="@{/livros/novo}"  class="btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i></a>
    Livros
</h1>

<div layout:fragment="content" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</td>
            <th scope="col">Título</td>
            <th scope="col">Ações</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livro : ${listaLivros}">
            <th scope="row" th:text="${livro.id}">1</th>
            <td><a href="#" th:href="@{'/livros/'+${livro.id}}" th:text="${livro.nome}"> Título </a></td>
            <td></td>
            <td>
                <a href="#" th:href="@{'/livros/alterar/'+${livro.id}}" class="btn btn-primary"> Altera </a>
                <a href="#" th:href="@{'/livros/excluir/'+${livro.id}}" class="btn btn-danger"> Excluir </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>