<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Autores</title>
</head>
<body>

<h1 layout:fragment="header">
    Autores
    <a th:href="@{/autores/novo}"  class="btn btn-sm btn-info pull-right"><i class="glyphicon glyphicon-plus"></i> Novo autor</a>
</h1>

<div layout:fragment="content" class="container">
    <table class="table">
        <thead>
        <tr>
            <th width="100">ID
            <th>Autor</th>
            <th width="200">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="autor : ${listaAutores}">
            <td th:text="${autor.id}"></td>
            <td><a href="#" th:href="@{'/autores/alterar/'+${autor.id}}" th:text="${autor.nome}"> </a></td>
            <td>
                <a href="#" th:href="@{'/autores/alterar/'+${autor.id}}" class="btn btn-primary"> Altera </a>
                <a href="#" th:href="@{'/autores/excluir/'+${autor.id}}" class="btn btn-danger"> Excluir </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>